.form {
    &.search-form {
        max-width: 500px;
        margin: 0 auto;
        .fields {
            justify-content: center;
        }
        input[type="text"] {
            border-color: #21BA45;
            &:focus {
                border-color: #21BA45;
            }
        }
    }
}