.container {
    &.movies-list {
        margin: 50px auto;
        .ui.cards {
            justify-content: center;
            margin-top: 50px;
            .card {
                margin: .875em .8em;
            }
        }
    }
}