.container {
    &.single-movie {
        margin: 50px auto;
        .content {
            a.header {
                font-size: 30px !important;
                margin-top: 0 !important;
            }
        }
        .description {
            p {
                font-size: 18px;
                line-height: 20px;
                color: #666;
            }
        }
    }
}